@tailwind base;
@tailwind components;
@tailwind utilities;

:root { 
  /* Catpuccin mocha*/
  --mocha-rosewater: #f5e0dc;
  --mocha-flamingo: #f2cdcd;
  --mocha-pink: #f5c2e7;
  --mocha-mauve: #cba6f7;
  --mocha-red: #f38ba8;
  --mocha-maroon: #eba0ac;
  --mocha-peach: #fab387;
  --mocha-yellow: #f9e2af;
  --mocha-green: #a6e3a1;
  --mocha-teal: #94e2d5;
  --mocha-sky: #89dceb;
  --mocha-sapphire: #74c7ec;
  --mocha-blue: #89b4fa;
  --mocha-lavender: #b4befe;
  --mocha-text: #cdd6f4;
  --mocha-subtext1: #bac2de;
  --mocha-subtext0: #a6adc8;
  --mocha-overlay2: #9399b2;
  --mocha-overlay1: #7f849c;
  --mocha-overlay0: #6c7086;
  --mocha-surface2: #585b70;
  --mocha-surface1: #45475a;
  --mocha-surface0: #313244;
  --mocha-base: #1e1e2e;
  --mocha-mantle: #181825;
  --mocha-crust: #11111b;
  /* Catpuccin latte*/
  --latte-rosewater: #dc8a78;
  --latte-flamingo: #dd7878;
  --latte-pink: #ea76cb;
  --latte-mauve: #8839ef;
  --latte-red: #d20f39;
  --latte-maroon: #e64553;
  --latte-peach: #fe640b;
  --latte-yellow: #df8e1d;
  --latte-green: #40a02b;
  --latte-teal: #179299;
  --latte-sky: #04a5e5;
  --latte-sapphire: #209fb5;
  --latte-blue: #1e66f5;
  --latte-lavender: #7287fd;
  --latte-text: #4c4f69;
  --latte-subtext1: #5c5f77;
  --latte-subtext0: #6c6f85;
  --latte-overlay2: #7c7f93;
  --latte-overlay1: #8c8fa1;
  --latte-overlay0: #9ca0b0;
  --latte-surface2: #acb0be;
  --latte-surface1: #bcc0cc;
  --latte-surface0: #ccd0da;
  --latte-base: #eff1f5;
  --latte-mantle: #e6e9ef;
  --latte-crust: #dce0e8;
  --background: var(--mocha-base);
  --foreground: var(--mocha-mauve);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--mocha-base);
    --foreground: var(--mocha-mauve);
    --accent-1: var(--mocha-mauve);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'DM Mono', monospace;
  font-size: 1.125rem;
  @apply antialiased;
}

.footer {
  color: var(--mocha-base);
  background: var(--mocha-blue);
  padding: 10pt;
  font-size: 0.875rem;
}

.Emibox{
  border: var(--mocha-mauve);
  border-width: 1.5pt;
  border-style: solid;
  padding: 10pt;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
}

.Emibox .Emibox-title {
  color: var(--mocha-peach);
  font-weight: 600;
  margin-bottom: 10pt;
  position: relative;
  top: -24pt;
  left: -7pt;
  width: fit-content;
  padding-left: 4pt;
  padding-right: 4pt;
  margin-bottom: -20pt;
  background-color: var(--mocha-base);
  display: block;
  white-space: nowrap;
}

.Emibox .seeAll {
  color: var(--mocha-peach);
  background-color: var(--mocha-surface0);
  border: 5pt solid var(--mocha-base);
  padding: 10pt;
  font-weight: 1000;
  width: fit-content;
  border-radius: 15px;
  white-space: nowrap;
  position: relative;
  bottom: -42pt;
  justify-self: center;
  margin: 0;
  margin-top: -40pt ;
  max-width: 200pt;
  white-space: nowrap;

}

.accent-1 {
  border-color: var(--border-accent-1);
}

.backhomebutton {
  color: var(--mocha-peach);
  background-color: var(--mocha-surface0);
  border: none;
  border-radius: 8px;
  padding: 10pt;
  margin-top: 10pt;
  margin-bottom: 10pt;
  font-size: 1.125rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.backhomebutton:hover {
  background-color: var(--mocha-yellow);
}
